{% extends 'base-movie.html' %}

{% block titulo %}
	Editar pelicula
{% endblock titulo %}

{% block estilos %}
	.container{
	padding-bottom:35px;
}
{% endblock estilos %}

{% block contenido %}
	<div class="container">
		<h2>Edite la pelicula</h2><br>
		<form action="" method="post"> <!--le pasa al html archivos desde la vista -->
			<div class="form-group">
			{% csrf_token %}
			{{form.as_p}}
			</div>
			<input type="submit" name="Actualizar" value="Actualizar" class="btn btn-warning">
		</form>
	</div>
{% endblock contenido %}