{% extends 'base-movie.html' %}

	{%block titulo%}
	Acerca de nosotros
	{% endblock titulo%}
	
{% block contenido %}
	<div class="container">
	<h2>Visión</h2>
	<p>Muchas películas nos motivan a lograr algún objetivo, por la fuerza de sus personajes, por la energía con que el director nos propone la historia, por su música, sus escenas, su guión…El cine genera emociones en el espectador y muchas veces son emociones tan poderosas que nos llenan de energía y nos ayudan a dar pasos en pro de nuestros objetivos vitales</p>

	<p>Muchas veces, el visionado de una escena o película en concreto nos hace enfrentarnos a nuestros mayores temores  y nos expone a nuestras sensaciones permitiéndonos ser más conscientes de ellas y poder trabajar para extinguirlos </p>

	<p>Movie Break</p>
	
	</div>
{% endblock contenido %}
